{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="example-wrapper">
Here is the list of all the users registered in your app !
 <ul class="list-group">
    {% for user in users %}
 <a href={{path('user_profile',{id:user.id}) }}> <li class="list-group-item">firstname: {{user.lastname}} lastname: {{user.firstname}} email : {{user.email}} 
 
 Role:{% if user.isGranted("ROLE_ADMIN") %}Administrateur
 {% elseif user.isGranted("ROLE_PROFESSOR") %}Professeur
  {% else %}Etudiant{% endif %}

 </li><a/>
    {% endfor %}
    </ul>


<div class="card mb-3 mt-4">
<a href={{path('subject_new')}}> 
<h2>Créer une nouvelle matière </h2>

 <a/>
</div>
<h2 class="mt-4 mb-4">Liste des matières</h2>

    <ul class="list-group">
    {% for subject in subjects %}
 <a href={{path('subject_assign',{id:subject.id}) }}> <li class="list-group-item">
 Nom de la matière : {{subject.title}} 

 </li><a/>
    {% endfor %}
    </ul>
  
    
</div>
{% endblock %}
