{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
Matière : {{subject.title}} <br>
Professeurs pour cette matière :
{% for prof in professor %}
    {{prof.firstname}} {{prof.lastname}} 
    {% if loop.last %}.{% else %} , {% endif %}
    
{% endfor %}

{% if not is_granted("ROLE_PROFESSOR") %}
{% if (user.moyenneFromSubject(subject)== false) %}
Vous n'avez pas encore de notes pour ce cours pour l'instant .
{% else %}
<div class="card mt-3 mb-4">
Mes notes</div>
 <table class="table">
 <tr>
<td>Note</td>
<td>Coefficient</td>
<td>Commentaire</td>
 </tr>
{% for note in user.notesFromSubject(subject) %}
<tr>
      <th scope="row">{{note.note}}</th>
      <td> {{note.coeff}} </td>
      <td> {{note.comment}} </td>
      <td></td>
    </tr>
    

{% endfor %}
</table>

Moyenne de la matière : {{user.moyenneFromSubject(subject)}}
{% endif %}
{% endif %}

{% if is_granted('ROLE_PROFESSOR') %}
<div class="card mt-4 mb-3 pt-3 pb-3">
Liste des élèves inscrits a ce cours :
</div>
<table class="table">
{% for student in students %}
<tr>
<td>
    {{student.firstname}}
    </td>
    <td>
     {{student.lastname}}
     </td>
     {% if is_granted('ROLE_PROFESSOR') %}
     <td>
         <a href="{{ path('new_grade', {'id_user': student.id,'id_subject':subject.id}) }}" class="btn btn-warning mr-3"> Donner une nouvelle note à l'élève ou voir ses notes</a>
     </td>
     
     {% endif %}

     
</tr>
{% endfor %}
</table>
{% endif %}


{% endblock %}